<!DOCTYPE html>
<html lang="en" ng-app="weather">
<head>
    <meta charset="UTF-8">
    <meta name="fragment" content="!"/>
    <title>My ng-book App</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css"/>
    <script src="../bower_components/font-awesome/css/font-awesome.css"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="routes.js"></script>
    <script src="controller.js"></script>
    <script src="services.js"></script>


</head>
<body ng-controller="mainController">
<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#index">Angular Service</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#home"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#about"><i class="fa fa-shield"></i> About</a></li>
                <li><a href="#contact"><i class="fa fa-comment"></i> Contact</a></li>
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <div ng-view></div>
</div>
<div class="container">
    <div>
        <div ng-controller="CalcController">
            Enter a number:
            <input type="number" ng-model="number">
            <button ng-click="findSquare()">Square</button>
            <div>{{answer}}</div>
        </div>
    </div>
    <div>
    <a href="../CORS/index.html">CORS</a>
</div>
</div>

</body>
</html>