<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Animation</title>
    <script src="../bower_components/angular/angular.js"></script>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <script src="controller.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">Animation</a>
            </div>
        </div>
    </nav>
</header>
<div class="container" ng-controller="mainController">
    <header class="text-center">
        <h1>Animating Angular Apps
            <small>ngShow, ngClick and ngHide</small>
        </h1>
        <a class="btn btn-primary" href="#" ng-click="lions = !lions" ng-class="{ active: lions }">Toggle Charity</a>
        <a class="btn btn-success" href="#" ng-click="cranes = !cranes" ng-class="{ active: cranes }">Toggle
            Elephant</a>
    </header>
    <div class="row">
        <div class="col-xs-6">
            <div class="jumbotron" ng-show="lions">
                <img src="pics/1.jpg"
                     class="img-responsive img-thumbnail">
            </div>
        </div>
        <div class="col-xs-6">
            <div class="jumbotron" ng-show="cranes">
                <img src="pics/2.jpg" class="img-responsive img-thumbnail">
            </div>

        </div>
    </div>
</div>

<div class="col-sm-12"><h1>Lesson By Owaga</h1></div>
<div class="content col-sm-12">
    AngularJS is an MVC framework for building web applications. The core features include HTML enhanced with
    custom component and data-binding capabilities,
    dependency injection and strong focus on simplicity, testability, maintainability
    and boiler-plate reduction.
</div>

<div class="content col-sm-12" ng-class="{ 'content': slidein }">
    <h2>AngularJS is an MVC framework for building web applications. The core features include HTML enhanced with
    custom component and data-binding capabilities,
    dependency injection and strong focus on simplicity, testability, maintainability
    and boiler-plate reduction.</h2>
</div>

<button class="btn btn-primary" ng-click="slidein = !slidein" >
Content
</button>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-animate.js"></script>
</html>
