body{
  font-family:Arial,Helvettica,sans-serif;
  margin-left: 20px;
  padding-left: 20px;
}

h1 {
  font-size:2em;
  margin-bottom:10px;
  padding:0;
  padding-top:10px;
}

h2 {
  font-size:1.6;
}

